.switch-filtercontainer {
    display: flex;
    gap: 8px;
    border-radius: 2px;
}

.mug-shirt {
    width: 60px;
    height: 30px;
    background-color: #F2F0FD;
    color: #1EA4CE;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.type-active {
    background-color: #1EA4CE;
    color: #F2F0FD;
}