:root {
    --box-width: 124px;
    --box-height: 225px;
    --box-gap: 24px;
    --product-image-width: 124px;
    --product-image-height: 124px;
    --image-distance: 16px;
}

.product-container {
    width: calc(var(--box-width) * 4 + 3 * var(--box-gap));
    display: flex;
    flex-wrap: wrap;
    gap: var(--box-gap);
    padding: 22px 20px;
    background-color: #fff;
    border-radius: 2px;
}

@media screen and (max-width: 900px ) {
    .product-container {
        width: calc(var(--box-width) * 2 + var(--box-gap));
    }
}

@media screen and (max-width: 700px ) {
    .product-container {
        width: calc(var(--box-width));
    }
}

.product {
    box-sizing: border-box;
    width: var(--box-width);
    height: var(--box-height);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.product-image-container {
    width: var(--product-image-width);
    height: var(--product-image-height);
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1.18px solid #F3F0FE;
    border-radius: 12px;
}

.product-image {
    background-color: #C4C4C4;
    width: calc(100% - 2 * var(--image-distance));
    height: calc(100% - 2 * var(--image-distance));
}

.product-detail {
    width: 100%;
    height: calc(var(--box-height) - var(--product-image-height));
    display: flex;
    flex-direction: column;
}

.product-name {
    font-weight: 600;
}

.product-price {
    color: var(--primary-color);
    font-weight: 700;
}

.add-button {
    width: 100%;
    height: 22px;
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    margin-top: auto
}

.products-header {
    margin: 0;
    margin-bottom: 16px;
    font-size: 20px;
    color: #6F6F6F;
}